[Unit]
Description=Start Bds Maneger core insider docker
After=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/prepare.sh

[Install]
WantedBy=multi-user.target
